.login-container {
    display: flex;
    flex-direction: column;
    background-color: #F2F5F9;
    height: 100vh;
    width: 100%;
    padding: 35px;
}

.confirm-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0068EC;
    border-radius: 4px;
    width: 58px;
    height: 36px;
    color: white;
    cursor: pointer;
}